<style>
    ::-webkit-scrollbar {
        display: none;
    }
    .container{
        overflow: scroll;
        max-height: 85vh;
        justify-content: space-between;
    }
    .section{
        height: 90%;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        scroll-snap-align: start;
    }
</style>
<div id="page-content">    
    <div class="container"style="display: flex; flex-direction: column; align-items: center;">
        <div class="section">
            <img src="/Logos/logo.png" style="height: 102%; width: 45%;">
            <div style="font-size:3.5vw; max-width: 45%;">OpenPM is as open source Project Management Tool that is developed for team leaders and managers to automate tedious tasks and increase the productivity of the employees</div>
        </div>
        <div class="section">
            <div style="font-size:3.5vw; max-width: 45%;">OpenPM benefits<br>
                <ul>
                    <li>Seamless Experience</li>
                    <li>Easy and robust UI</li>
                    <li>Accurate Predictions</li>
                    <li>Increases Work Efficiency of team members</li>
                    <li>Reduces the need of Redundant applications</li>
                </ul>
            </div>
            <img src="https://t3.ftcdn.net/jpg/02/86/52/70/360_F_286527093_HHP1fpTCI8tNDQwypBWAXsVmByASPpPX.jpg" style="height: 72%; width: 35%; mix-blend-mode: color-burn;">
        </div>
        <div class="section" style="flex-direction: column; justify-content: space-around; height: 90vh;">
            <h1 style="font-size: 3.5vw;">About us</h1>
            <div style="border: 1px black solid; height: 27vh; width: 100%;">
                
            </div>
        </div>

    </div>
</div>
