<style>
    #input{
        border: none;
        background-color: rgb(93,172,189);
        color: rgb(36,82,122);
        border-bottom: rgb(36,82,122) 1px solid;
        text-align: center;
    }
    #input:focus-visible{
        outline: none;
    }
    input[type=submit]{
        outline: none;
        border: 1px solid rgb(36,82,122);
        color: rgb(36,82,122);
        background-color: rgb(93,172,189);
        cursor: pointer;
    }
</style>
<div id="page-content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">    
    <img src="/Logos/logo.png" style="height: 35%;">
    <div style="height: 52%; width: 35%;border-radius: 25px; color:  rgb(93,172,189); align-items: center; display: flex; flex-direction: column; border: 1px solid rgb(93,172,189);">
        <h1>Login Details</h1>      
        <form action="/auth/check_user" method="post" id="formId">
            <div style="display: flex; flex-direction: column; align-items: left;">
                <label for="input" id="Label">Email</label>
                <input type="email" required name="User_email" id="input"><br>
            </div>
            <input type="submit" id="submitButton" style="position: relative; left: 34%;">
        </form>
        <div>            
            or use Google to log in:
            <br>
            <br>
            <a href="/login/oauth/google/" style="height: 6vh; width: 15vw;">
                <div style="display: flex;">
                    <i class="fab fa-google"></i>
                    <span>Sign In with Google</span>
                </div>
            </a>
        </div>
    </div>
</div>
<script>
function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
function setCookie(cname, cvalue, exdays) {
  const d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  let expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
flag=0
$(() => {
    $("#submitButton").click(function(ev) {
        ev.preventDefault()
        if(document.getElementById("input").value==""){
            return;
        }
        var form = $("#formId");
        if(flag)
        var data=form.serialize()+'&User_email='+getCookie("User_email")
        else
        data=form.serialize()
        console.log(flag, data)
        var url = form.attr('action');
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            xhrFields: {
                withCredentials: true
            },
            success: function(data) {
                document.getElementById('Label').innerText='OTP'
                document.getElementById('input').setAttribute("name", "otp")
                document.getElementById('input').setAttribute("type", "text")
                document.getElementById('formId').setAttribute("action", "/auth/verify_otp")
                document.getElementById('input').value=''
                if(flag && data["success"]=='Logged In Successfully.'){
                    setCookie("User_key", data.key, 30)
                    setCookie("User_email", getCookie("User_email"), 365)
                    window.location.href='/dashboard'
                }
                else{
                    flag=1
                }
            },
            error: function(data) {
                alert("some Error");
            }
        });
        return false;
    });
});
</script>