<style>
    input[type=text]{
        border: none;
        background-color: rgb(93,172,189);
        color: rgb(36,82,122);
        border-bottom: rgb(36,82,122) 1px solid;
        text-align: center;
    }
    input[type=text]:focus-visible{
        outline: none;
    }
        input[type=submit]{
            outline: none;
            border: 1px solid rgb(36,82,122);
            color: rgb(36,82,122);
            background-color: rgb(93,172,189);
            cursor: pointer;
        }
    .rotated{
        transform: rotate(45deg);
        transition: 0.4s;
    }
    .non-rotated{
        transition: 0.4s;
    }
    .row_display{
        display: flex;        
        position: relative;
        right: 18%;
        margin-bottom: 11%;
    }
</style>
<div id="page-content" style="display: flex">    
    <!-- split in 35:65 ratio left part showing list and right showing info about the project that can be fetched using ajax requests -->
    <!-- will add a + sign for creating new project -->
    <div style="display: flex; flex-direction: column; width: 25vw; border-right: 1px solid rgb(93,172,189);">
        <div style="height: 4.05vw; display: flex; align-items: center; justify-content: right; padding-right: 5%; border-bottom: 1px solid rgb(93,172,189);">
            <button style="color: rgb(93,172,189); background-color: transparent; border: none; outline: none; cursor: pointer;" id="createnew">
                <i class="fa-sharp fa-solid fa-plus fas fa-2x" id="add-btn"></i>                    
            </button>
        </div>
        <div style="height: 90%; display: flex; flex-direction: column;" id="displaylist">
            <%for(var ic=0;ic<user.projects.length;ic++){%>
                <div style="height: 15%; border: 1px solid rgb(93,172,189);" class="project_list" id="<%=user.projects[ic]['ID']%>" onclick="clicker(this.id)">
                    <div style="left: 7%; font-size: 160%; top: 12%; position: relative;"><%=user.projects[ic]["Name"]%></div>
                    <div class="project_time" style="position: relative; top: 16%; left: 8%;"><%=user.projects[ic]["Time"]%></div>
                    <div style="position: relative; bottom: 37%; font-size: 150%; left: 90%;">
                        <i class="fas fa-chevron-right"></i>                    
                    </div>
                </div>
            <%}%>
        </div>
        
    </div>
    <div style="width: 75vw; display: flex;flex-direction: column;">
        <div style="text-align: center; font-size: 3vw; padding-top: 0.8%; border-bottom: 1px solid rgb(93,172,189);" id="Heading-Display">
            Your Projects           
        </div>
        <div style="position: relative; top: 30%; left: 40%;" id="main-matter">
        </div>    
    </div>
</div>
<script>
    var button1=document.getElementById('createnew')
    var list_data_save=document.getElementById('main-matter').innerHTML
    var form_HTML='\n            <div style="position: relative; top: -35%; font-size: 2.5vw; left: -10%;">Lets cook a new project for you.</div>\n            <form action="/app/create_new_project" method="POST" style="display: flex; flex-direction: column; width: 15vw;" id="formId">\n                <label for="project_name">Project Name</label>\n                <br>\n                <input type="text" name="project_name" id="project_name" required>\n                <br>\n                <label for="project_description">Project Description</label>\n                <br>\n                <input type="text" name="project_description" id="project_description" required>\n                <br>\n                <input type="submit" id="submitbttn" style="width: 33%; position: relative; left: 33%;">\n            </form>\n        '    
    var display=0;
    button1.addEventListener('click', function(){
        if(display==0){
            console.log("Here1")
            document.getElementById('Heading-Display').innerText="Fill the details"
            document.getElementById('main-matter').innerHTML=form_HTML
            document.getElementById('add-btn').setAttribute("class", "rotated fa-sharp fa-solid fa-plus fas fa-2x")
            console.log("Here2")
            document.getElementById('submitbttn').addEventListener('click', function(ev){
                ev.preventDefault()
                var form = $("#formId");
                var data=form.serialize()
                var url=form.attr('action')
                $.ajax({
                    type:'POST',
                    data:data,
                    url:url,
                    xhrFields: {
                        withCredentials: true
                    }, 
                    success:function(data){
                        if(data["success"]=="Updated Successfully"){
                            // append child
                            
                        }
                        console.log(data)
                    }, error:function(data){
                        console.log(data)
                        alert("Some Error")
                    }
                });
                return false;
            })
            console.log("Here3")
        }
        else{
            document.getElementById('Heading-Display').innerText="Your Projects"
            document.getElementById('main-matter').innerHTML=list_data_save
            document.getElementById('add-btn').setAttribute("class", "fa-sharp fa-solid fa-plus fas fa-2x non-rotated")
        }
        display=1-display
    })
</script>
<script>
    all_list_time=document.getElementsByClassName('project_time')
    for(var i=0;i<all_list_time.length;i++){
        var currday=new Date(all_list_time[i].innerText)
        var d=currday.getDate()
        var m=currday.getMonth()+1
        var y=currday.getFullYear()
        all_list_time[i].innerText=d.toString()+'/'+m.toString()+'/'+y.toString()
    }
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function clicker(id){
        var temper12345='\n            <div style="display: flex; flex-direction: column; position: relative; bottom: 15%;">\n                <div class="row_display">\n                    <div style="font-size: 1.5vw; width: 20%;">\n                        Name: <div id="Project_name"></div>\n                    </div>\n                    <div style="font-size: 1.5vw; width: 20%;">\n                        Description: <div id="Project_desc"></div>\n                    </div>\n                    <div style="font-size: 1.5vw; width: 20%;">\n                        Project Owner: <div id="Project_owner"></div>\n                    </div>\n                </div>\n                <div class="row_display">\n                    <div style="font-size: 1.5vw; width: 20%;">\n                        Team Size: <div id="Team_size"></div>\n                    </div>\n                    <div style="font-size: 1.5vw; width: 20%;">\n                        Tasks: <div id="Tasks"></div>\n                    </div>\n                    <div style="font-size: 1.5vw; width: 20%;">\n                        Created on: <div id="Creation_date"></div>\n                    </div>                \n    \n                </div>\n                <a href="" style="height: 7vh; width: 11vw;" id="ViewProject">\n                    <div style="font-size: 1.5vw;">View Project</div>\n                </a>\n    \n            </div>\n        '
        document.getElementById('main-matter').innerHTML=temper12345
        var url='/app/getproject_details'
        var data={
            'User_key':getCookie('User_key'),
            'User_email':getCookie('User_email'),
            'Project_id':id
        }
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            xhrFields: {
                withCredentials: true
            },
            success: function(data) {
                document.getElementById('Heading-Display').innerText="Project Details:"
                document.getElementById('Project_name').innerText=data.project_details.project_name
                document.getElementById('Project_desc').innerText=data.project_details.project_desc
                document.getElementById('Project_owner').innerText=data.project_details.project_owner
                if(data.project_details.contributors==null){
                    document.getElementById('Team_size').innerText=1
                }
                else{
                    document.getElementById('Team_size').innerText=data.project_details.contributors.length+1
                }
                document.getElementById('Tasks').innerText=data.project_details.tasks.assigned.length+data.project_details.tasks.completed.length
                var t2=new Date(data.project_details.starting_time)
                var d2=t2.getDate()
                var m2=t2.getMonth()+1
                var y2=t2.getFullYear()
                document.getElementById('ViewProject').setAttribute('href', '/app/view_project/'+data.project_details.project_id)
                document.getElementById('Creation_date').innerText=d2+'/'+m2+'/'+y2
                console.log(data)
            },
            error: function(data) {
                console.log(data)
            }
        });
    }
</script>